:root{
    --color-fuente-uno: white;
    --color-fuente-dos: black; 
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    position: sticky;
    top: 0;
    z-index: 100;

}

.logo {
    width: 100px;
    margin-left: 25px
}

.logo-menu {
    width: 25px;
    margin-right: 25px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: var(--color-fuente-uno);
    text-decoration: none;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 80vh;
    
}

.top {
    background-color: rgb(28, 131, 214);
    /*background-image: url(../img/premium_dancer.png);*/
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 150px ;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    height: 50%;
}

.titulo-principal {
    font-size: 50px;
    color: var(--color-fuente-uno);
    font-weight: bold;
    line-height: 60px;
}
.parrafo-principal{
    font-size: 20px;
    color: var(--color-fuente-uno);
    font-weight: bold;
    line-height: 40px;

}
.ver-planes{
    font-size: 16px;
    color: var(--color-fuente-uno);
    text-decoration: none;
    background-color: green;
    border-radius: 20px;
    padding: 10px;
}
.nota{ 
    font-size: 12px;
    color: var(--color-fuente-uno);
    line-height: 20px;

}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    align-items: stretch;
    flex-grow: 1;
   /* height: 50%;*/
}

.titulo-premium {
    font-size: 32px;
}

.premium {
    display: flex;
    flex-direction: column;
   /* background-color: green;*/
    
}

.img-premium {
    width: 100px;
}



.apartados {
    font-weight: bold;
}


.footer {
    background-color: black;
    color: var(--color-fuente-uno);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;

}

